<form asp-action="AddCollection" method="post">
    <input type="hidden" name="UserId" value="@ViewBag.Id" />
    <div>Name:</div>
    <input name="Name" />
    <div>Dascription:</div>
    <input name="Description" />
    <div>Topic</div>
    <input name="Topic" />
    <div>IntFields</div>
    <input name="IntFields" />
    <div>TextFields</div>
    <input name="TextFields" />
    <div>StringFields</div>
    <input name="StringFields" />
    <div>BoolFields</div>
    <input name="BoolFields" />
    <div>DataFields</div>
    <input name="DataFields" />
    <button type="submit">Submit</button>
</form>